html {
  background-color: rgba(251, 251, 251, 1);
}

/* UTILITY CLASS START */
.inline {
  display: inline;
}

.bottom {
  position:absolute;
  bottom: 0;
}
/* END UTILITY CLASS */


/* Side NAV START */
#slide-out{
  height:100%;
}

.side-nav li.active {
    background-color: rgba(33, 150, 243, .1);
}

.menu-btn {
  position:fixed;
  top: 1.7rem;
  left: 10px;
  padding: 0 0.75rem;
  z-index:100;
}
@media (max-width: 996px) {
  i.left {
    margin-right: 0;
  }
};
/* END SIDE NAV */

/* START FORM COLOR SELECTIONS */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid rgba(33, 150, 243, 1);
  box-shadow: 0 1px 0 0 rgba(33, 150, 243, 1);
}
.dropdown-content li>a, .dropdown-content li>span {
  color: rgba(33, 150, 243, 1);
}
.switch label input[type=checkbox]:checked+.lever,
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #F1F1F1;
}
